@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');
html {
    height: 100%;
}

body {
    height: 90%;
    background-image: url("../img/background.jpg");
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.loging {
    padding: 20px;
    border-radius: 10px;
    opacity: 0.85;
    background: white;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formtitle {
    font-weight: bold;    
    font-family: Raleway;
    font-size: 20px;
    color: #2800ab;
}

.header {
    font-family: Amatic SC;
    background-color: transparent;
    font-size: 160px;
}

.formIndex {
    width: 80%;
    margin: auto;
    justify-content: center;
}
.boton {
    opacity: 1;
}
.buttonindex{
    margin: 2px;
}
